*View/arquivo/
*View/chamadas/
*View/fotos/
*View/material_apoio/
*View/trabalho_entregue/
*View/video/

Model/Conexao.php
View/trabalho/*
View/pagina_estatica/*.php
Model/Conexao.php

#View/chamados/
